<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- STYLESHEETS -->
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />

    <!-- JAVASCRIPTS -->
    <script src="/javascripts/lib/arbor.js"></script>
    <script data-main="/javascripts/main.js" src="/javascripts/require.js"></script>
    

  </head>
  <body>
    <script>
      var packName = "<%= packName %>";
      var bookName = "<%= bookName %>";
      var userName = "<%= userName %>";
      var displayMode = "<%= displayMode %>";
    </script>
    
    <div id='container'>
      <div id='header'>
        <div id='logo'>
        </div>
        <div id='profile-options'>
          <div id='home' class='profile-option-button'></div>
          <div id='about' class='profile-option-button'></div>
          <div id='user' class='profile-option-button'><%= userName %></div>
        </div>
      </div>
      <div id='content'>
        <div id='main-panel'>
          <div id='search-bar'>
            <input id='search' type='text' autocomplete='off' />
            <input id='searchBtn' value='search' type='button' />

            <!-- TODO // Change to dynamic linking -->
            <div id='graph-button'><a href='/graph/normandy/1a'></a></div>
          </div>
          <div id='search-results'>
            <ul>
              <!--
              TODO // Remove this and save it somewhere beautiful

              <li>18.03 > Result 1 - A small monkey is delicious...</li>
              <li>18.03 > Result 2 - Norman is delicious...</li>
              <li>6.012 > Result 3 - Norman is a small monkey...</li>
              -->
            </ul>
          </div>
          <div id='note-panel'></div>
        </div>
        <div id='note-list'>
          <!-- TODO // Remove this and save it somewhere beautiful -->
          <!--
          <ul>
            <li class='list-head'>YOUR NOTES<div id='add-item'>+</div></li>
            <li class='list-topic'>18.03</li>
            <li class='list-item'>Lecture 1</li>
            <li class='list-item'>Lecture 2</li>
            <li class='list-item'>Recitation 3</li>
            <li class='list-newitem'>+ new notes</li>
            <li class='list-topic'>6.012</li>
            <li class='list-item'>Tutorial 3</li>
            <li class='list-newitem'>+ new notes</li>
          </ul>
          -->
        </div>
        <div id='note-list-toggle'>
          <ul>
            <li class='selected'>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li class='filler'>&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <!-- Note: I don't think this is the actual intended function of the search button.
    <script>
        document.getElementById("searchBtn").onclick = function() {
            window.location = "#" + document.getElementById("search").value;
        }
    </script>
    -->

  </body>
</html>
